* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 100px;
}
.container {
  height: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 50px;
  border: none;
  border-radius: 40px;
}
img {
  border-radius: 20px;
}
h1,
h2,
p,
ul,
ol,
li {
  margin: 15px 0px;
}
h2,
h3,
span {
  color: hsl(14, 45%, 36%);
}
.prep-time h3 {
  color: hsl(332, 51%, 32%);
}
div.prep-time {
  background-color: hsla(274, 42%, 63%, 0.076);
  border: none;
  border-radius: 20px;
  padding: 50px;
}
h1 {
  font-size: 70px;
}
li,
p,
span {
  font-size: 22px;
}
h2,
h3 {
  font-size: 40px;
}
span {
  font-weight: bolder;
}
ul,
ol,
li {
  margin-left: 12px;
}
